.tablet-tr {
    color: dimgray;
}

.tablet-tr:nth-child(even) {
    background-color: rgb(197, 213, 230);
}

.td {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}