.statistics {
    width: 360px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #696969;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}
