.transaction-history {
    text-align: center;
}

table {
    width: 600px;
    border: 1px solid #ccc;
}
tr {
    border: 1px solid #ccc;
}
td, th {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background-color: #0099ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

td {
    font-size: 18px;
    font-weight: bold;
}