.online {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}


.offline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.item-friend {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 5px;
}

.avatar-friend {
    margin-left: 5px;
    margin-right: 10px;
}

.name-friend {
    font-size: 20px;
}